@import "../styles/variables.scss";

:root {
  --bgColor: #f7f2ef;
  --fontLight: #6e6a6b;
  --greenLight: #69c656;
  --greenDark: #749372;
}

.App {
  background-color: $bgColor;
  overflow: hidden;
  font-size: 1rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

ul {
  text-decoration: none;
  margin: 0;
}
p {
  margin: 0 !important;
}
li {
  list-style: none;
  margin: 0;
}
a {
  color: $fontColor;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black !important;
  }
}
