.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {
    width: 10%;
  }
  &__list ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__list li {
    margin: 0 20px;
    font-size: 20px;
    color: var(--fontLight);
  }
  &__hambuger {
    display: none;
  }
}
.faBars {
  font-size: 20px;
  display: none;
}
