.content {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 25px 10px rgb(90 77 70 / 5%);
    padding: 25px 35px;
    gap: 1rem;
    img {
      width: 80%;
    }
    a {
      color: var(--greenDark) !important;
      &:hover {
        color: var(--greenLight) !important;
      }
    }
  }
}
