@import "../../../styles/variables.scss";
.founder {
  margin-top: 5rem;

  &__top-img {
    img {
      width: 100%;
    }
  }
  &__top-des {
    &-detail {
      margin-bottom: 2rem;
    }
    a {
      color: $greenDark !important;
      font-size: 1.4rem;
      &:hover {
        color: $greenLight !important;
      }
    }
    &-detail {
      line-height: 1.8rem;
      color: $fontColor;
    }
  }
  &__top {
    margin-bottom: 5rem;
  }
}
