@media (max-width: 992px) {
  .navbar__item {
    display: none !important;
  }
  .faBars {
    display: block !important;
  }
  .navbar__item {
    display: none;
  }
  .navbar__list {
    width: 100%;
  }

  .products__last-wrapper {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
}

@keyframes navbarAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
